.content {
  grid-area: content;
  text-align: center;
    
}

span {
  margin-right: 20px;
  margin-left: 20px;
}

.single_article_title {
  margin-top: 1%;
}

.page_button {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 2px;
}


