.content {
  grid-area: content;
  text-align: center;
    
}

span {
  margin-right: 20px;
  margin-left: 20px;
}

.single_article_title {
  margin-top: 1%;
}

.single_article:nth-of-type(odd) {
  background-color: lightgray;
  margin-right: 3%;
}

.single_article:nth-of-type(even) {
  margin-right: 3%;
}

.page_button {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 2px;
}

.empty_topic {
  margin-top: 10%;
}

