header {
  grid-area: header;
  display: flex;
  justify-content: center;
  border-bottom: black 2px solid
 
  
}

.user_info {
  grid-area: header;
  display: flex;
  justify-content: flex-end;

 }

 .logged_user {
   grid-area: header;
   display: flex;
   justify-content: flex-start;
   margin-left: 2%;
   margin-top: 1%;
 }